---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  ariaLabel: string;
  iconName: string;
}

const { href, ariaLabel, iconName } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
  class="group relative flex flex-col items-center p-2 text-gray-400 transition-colors hover:text-gray-600 dark:hover:text-white"
>
  <Icon name={iconName} class="h-7 w-7" />

  <span
    class="absolute -bottom-3 scale-0 text-[10px] text-gray-600 opacity-60 group-hover:scale-100 dark:text-white"
  >
    {ariaLabel}
  </span>
</a>
