---
import Layout from "../layouts/Layout.astro";
---
<Layout title="特定商取引法に基づく表記">
    <main class="w-full max-w-2xl mx-auto px-4 py-4 flex-1 flex flex-col items-center">
        <article class="prose dark:prose-invert prose-sm text-left">
            <slot/>
        </article>
    </main>
</Layout>
