---
import Layout from "../layouts/Layout.astro";

const { frontmatter } = Astro.props;
const title = frontmatter.title;
---

<Layout title={title}>
  <main
    class="mx-auto flex w-full max-w-2xl flex-1 flex-col items-center px-4 py-4"
  >
    <article class="prose dark:prose-invert prose-sm text-left">
      <slot />
    </article>
  </main>
</Layout>
